<template>
  <form>
    <label for="input-component">{{value}}</label>
    <input :class="[ borderBottom ? `border-bottom` : `` ]" type='text' id="input-component" placeholder="Default text"
           name="input-component">
  </form>
</template>

<script>

  export default {
    name: 'InputComponent',
    props: {
      value: {
        type: String,
        default: 'default input'
      },
      borderBottom: {
        type: Boolean,
        default: false
      }
    }
  };

</script>

<style>
  input {
    margin-left: 0;
    border: 2px solid #D3D3D3;
  }

  label {
    width: 10%;
    padding: 10px 20px;
    font-size: 20px;
  }

  input[type=text] {
    width: 50%;
    padding: 10px 20px;
    font-size: 20px;
  }

  input.border-bottom {
    border-radius: 0;
    margin-left: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  }

</style>
