<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    class="chevron"
  >
    <polygon
      points="5.596 11 0 5.5 5.596 0 7 1.38 2.798 5.5 7 9.62"
      transform="rotate(-90 9.25 4.75)"
    />
  </svg>
</template>

<script>
export default {
  name: 'Chevron'
};
</script>

<style scoped>
  .chevron {
    position: absolute;
    opacity: 0.25;
    color: #181920;
    right: 15px;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    top: 50%;
    margin-top: -10px;
    transform-style: preserve-3d;
    transition: transform 150ms;
    transform: rotateZ(0deg);
  }
  .open .chevron {
    transform: rotateZ(180deg);
  }
</style>
