@import "functions";

// Font styles

$font-family: 'Proxima Nova', sans-serif !default;

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #2D52DA !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #38B449 !default;
$green-light: #0f995e !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       #00AEEF !default;
$secondary:     #FF7800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$text-color:        $gray-800 !default;
$text-muted:        $gray-600 !default;
// Links
//
// Style anchor elements.

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;


$background-image-gradient: linear-gradient(to top, #1991eb 0%, $primary 100%);

// Buttons
//


$button-border-radius:              4px !default;

$button-sm-padding:                 4px 10px !default;
$button-sm-font-size:               13px !default;

$button-padding:                    6px 15px !default;
$button-font-size:                  15px !default;

$button-lg-padding:                 13px 30px !default;
$button-lg-font-size:               17px !default;


$button-bg-color:                       #f5f5f5 !default;
$button-bg-color-on-hover:              #ebebeb !default;
$button-color:                          $black !default;
$button-badge-color:                    $primary !default;


$button-primary-bg-color:               $primary !default;
$button-primary-bg-color-on-hover:      darken($primary, 5%) !default;
$button-primary-color:                  $white !default;

$button-secondary-bg-color:             $secondary !default;
$button-secondary-bg-color-on-hover:    darken($secondary, 5%) !default;
$button-secondary-color:                $white !default;

$button-danger-bg-color:  $danger !default;
$button-danger-color-on-hover:          darken($danger, 5%) !default;
$button-danger-color:                   $white !default;

$button-warning-bg-color:               $warning !default;
$button-warning-color-on-hover:         darken($warning, 5%) !default;
$button-warning-color:                  $white !default;

$button-success-bg-color:               $success !default;
$button-success-color-on-hover:         darken($success, 5%) !default;
$button-success-color:                  $white !default;

$button-info-bg-color:    $info !default;
$button-info-color-on-hover:            darken($info, 5%) !default;
$button-info-color:                     $white !default;

//Progress Bar

$loading-bar-parent-border-radius:      10px !default;
$loading-bar-parent-background-color:   rgba(0, 0, 0, .05) !default;
$loading-bar-value-color:               #fff !default;
$loading-bar-value-font-size:           12px !default;
$loading-bar-value-font-weight:         bold !default;

//Dropdown
$dropdown-option-color:                     $black !default;
$dropdown-option-bgc-selected:              rgb(245, 248, 250) !default;
$dropdown-option-color-selected:            rgb(0, 174, 239) !default;
$dropdown-toggle:                           rgb(254, 254, 254) !default;
$dropdown--border-toggle-hover:             rgba(24, 25, 32, 0.2) !default;
$dropdown-border-radius:                    4px !default;
$dropdown-border:                           1px rgb(206, 208, 218) solid !default;
$dropdown-border-outline:                   1px rgb(0, 174, 239) solid !default;
$dropdown-content-bgc:                      $white !default;
$dropdown-content-box-shadow:               0 10px 25px 0 rgba(0, 0, 0, 0.12) !default;

//Range
$range-selector-line-background:    rgb(226, 231, 238) !default;
$range-selector-interval-text-color:    rgb(195, 199, 209) !default;

$range-selector-circle-border:    1px solid rgb(206, 208, 218) !default;
$range-selector-circle-width:    16px !default;
$range-selector-circle-height:    22px !default;
$range-selector-circle-background-color:    rgb(249, 250, 251) !default;
$range-selector-circle-box-shadow:    0 5px 15px 0 rgba(96, 116, 238, 0.2) !default;

$range-selector-tooltip-background: rgb(53, 60, 72) !default;
$range-selector-tooltip-color: $white !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will select,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
     xs: 0,
     sm: 576px,
     md: 768px,
     lg: 992px,
     xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
     sm: 540px,
     md: 720px,
     lg: 960px,
     xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:            12 !default;
$grid-gutter-width:       30px !default;

// Container padding

$container-padding-x: $grid-gutter-width / 2 !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;


// Links
//
// Style anchor elements.

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;


$border-radius: 0 !default;


$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;



$zindex-dropdown:     1000 !default;
$zindex-sticky:       1020 !default;
$zindex-fixed:        1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:        1050 !default;
$zindex-popover:      1060 !default;
$zindex-tooltip:      1070 !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$negative-spacers: negativify-map($spacers) !default;

