<template>
  <span class="breadcrumb__item">
    <a v-if="href" class="breadcrumb__link" :class="{'breadcrumb__link_active':lastChild}" @click="handleClick"><slot></slot></a>
    <span v-else class="breadcrumb__text" :class="{'breadcrumb__text_active':lastChild}"><slot></slot></span>
    <span class="breadcrumb__separator" v-html="separator"></span>
  </span>
</template>

<script>
  export default {
    name: 'BreadcrumbItem',
    props: {
      href: String,
      onClick: Function
    },
    data () {
      return {
        separator: '',
        lastChild: false,
      }
    },
    mounted () {
      this.lastChild = this.$options.parent.$children[this.$options.parent.$children.length -1] == this
      this.separator = this.lastChild ? '' : this.$parent.separator
    },
    methods: {
      handleClick () {
        this.onClick && this.onClick();
      }
    }
  }
</script>

<style lang="scss">
    .breadcrumb {
        &__link,
        &__text {
            color: #848c98;
            padding: 0 0.5vw;

            &_active {
                color: #222c3c;
            }
        }

        &__link:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
</style>
