<template>
  <div :class="sliderLineClassName || 'range-selector'">

    <div
        :class="[posAbsolute ? 'posAbsolute' : '']"
        :style="{ height: `${height}px` }"
        class="slider-line"
    >
      <VueSlider
          ref="slider"
          :value="currentValue"
          :interval="interval"
          :min="min"
          :max="max"
          :rail-style="railStyle"
          :tooltip="'always'"
          :process-style="processStyle"
          :marks="markNumbers"
          :enable-cross="false"
          @change="select"
          @drag-end="dragEngHandler"
          @error="errorHandler"
      >
        <template v-slot:dot>
          <div :class="circleClassName || 'slider-line-circle'"
          />
        </template>
        <template v-slot:tooltip="{ value }">
          <div :class="'slider-tooltip'">{{ value }}</div>
        </template>
      </VueSlider>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'RangeSelector',
    components: {
      VueSlider: () => import('vue-slider-component')
    },
    model: {
      prop: 'value',
      event: 'select'
    },
    props: {
      value: [Number, Array],
      interval: Number,
      min: Number,
      max: Number,
      posAbsolute: Boolean,
      circleClassName: String,
      sliderLineClassName: String,
      height: {
        type: Number,
        default: 2
      },
      showIntervalText: {
        type: Boolean,
        default: false
      },
      amountOfMarks: {
        type: Number,
        default: 5
      }
    },
    data() {
      return {
        railStyle: { top: '-7px', height: `${this.height}px`, borderRadius: '5px' },
        processStyle: {backgroundColor: `rgb(25, 145, 235)`}
      };
    },
    computed: {
      currentValue() {
        if (this.value < this.min) return this.min;
        else if (this.value > this.max) return this.max;
        else return this.value;
      },
      markNumbers() {
        if (this.showIntervalText) {
          let numbers = [];
          let step = (this.max - this.min) / (this.amountOfMarks - 1);
          numbers.push(this.min);
          let temp = this.min;
          for (let i = 0; i < this.amountOfMarks-1; i++) {
            numbers.push(temp + step);
            temp += step;
          }
          return numbers;
        }
        else {
          return false;
        }
      }
    },
    methods: {
      select(value) {
        this.$emit('select', value);
      },
      dragEngHandler() {
        this.$emit('drag-end');
      },
      errorHandler(type) {
        this.$emit('slider-error', type);
      }
    }
  };
</script>

<style lang="scss">
  @import "styles/variables";
  .range-selector {
    padding-top: 10px;
    height: 10px;
  }

  .slider-line {
    position: relative;
    height: 2px;
    margin-top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    margin-right: 0;
    margin-left: 0;
    border-radius: $border-radius;
    clear: both;
    background: $range-selector-line-background;
  }

  .slider-line-circle {
    border: $range-selector-circle-border;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    left: auto;
    top: -3px;
    right: 0;
    width: $range-selector-circle-width;
    height: $range-selector-circle-height;
    background-color: $range-selector-circle-background-color;
    box-shadow: $range-selector-circle-box-shadow;
    cursor: pointer;
    margin-top: -2px;
  }
  .vue-slider-rail div:nth-child(4) .slider-line-circle {
    border-radius: 0 50% 50% 0;
  }
  .slider-tooltip {
    background: $range-selector-tooltip-background;
    color: $range-selector-tooltip-color;
    padding: 5px;
    border-radius: 25%;
  }

  .posAbsolute {
    position: absolute;
  }
  .vue-slider-process {
    background-color: $primary;
  }
  .vue-slider-mark-label {
    margin-top: 15px !important;
  }

</style>
