<template>
  <div :class="{ center }" :style="loaderStyle" class="md-preloader">
    <svg :height="size" :width="size" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75" version="1.1">
      <circle cx="37.5" cy="37.5" r="33.5" stroke-width="8" />
    </svg>
  </div>
</template>

<script>
/**
 * Индикатор загрузки на основе Google Material Design Preloader
 * https://github.com/rtheunissen/md-preloader
 */
export default {
  name: 'Loader',
  props: {
    /**
     * Размер
     */
    size: {
      type: Number,
      default: 75
    },

    /**
     * Выравнивает по центру
     */
    center: Boolean
  },
  computed: {
    loaderStyle() {
      return `height:${this.size}px;width:${this.size}px`;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables";
/**
 * Google Material Design Preloader
 *
 * CSS animated SVG implementation of the Google Material Design preloader
 *
 * Reference: http://goo.gl/ZfulRH
 * License: MIT
 * Author: Rudi Theunissen (rudolf.theunissen$gmail.com)
 * Version: 1.1.1
 */
.md-preloader {
  $easing: cubic-bezier(0.8, 0, 0.4, 0.8);

  $speed: 1320ms; // animation time for each loop
  $color: $primary; // Blue A200 in the Material Design color palette
  $linecap: round; // could be 'round', but the official one is square
  $loops: 5; // number of points where the arc meets
  $arc: 0.72; // fraction of the circumference that the arc grows to
  $perimeter: 67px * 3.141592653589793; // circumference of the raw svg inner cricle

  // measure to prevent inline block spacing from affecting the outer rotation
  font-size: 0;

  display: inline-block;
  animation: outer $speed * $loops linear infinite;

  svg {
    animation: inner $speed linear infinite;

    circle {
      fill: none;
      stroke: $color;
      stroke-linecap: $linecap;
      animation: arc $speed $easing infinite;
    }
  }

  @keyframes outer {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes inner {
    0% {
      transform: rotate(-360deg * (1 - $arc));
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes arc {
    0% {
      stroke-dasharray: 1 $perimeter;
      stroke-dashoffset: 0;
    }
    40% {
      stroke-dasharray: $arc * $perimeter, $perimeter;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 1 $perimeter;
      stroke-dashoffset: -$arc * $perimeter;
    }
  }
}

.md-preloader.center {
  text-align: center;
  width: 100% !important;
}
</style>
